<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TypescriptWebpackCoreMvc</title>
</head>
<body>
    <header>
        <h1>This is the entry page.</h1>
    </header>

    <div class="container">
        <main role="main" class="pb-3">@RenderBody()</main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - TypescriptWebpackCoreMvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
